---
# front matter
---

/* basic color customizations */
$border-color: #424242;
$link-color: #2a7ae2 !default;
$active-color: #2a7ae2;
$text-color: #0000FF !default;
$headings-color: #FF0000;
$background-color: #fdfdfd !default;

/* font base */ 
@font-face {
  font-family: 'Noto Sans';
  src:  url('fonts/MSYH.TTC') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  src:  url('fonts/MSYH.TTC') format('truetype');
}
$base-font-family: 'Noto Sans', Helvetica, Arial, sans-serif !default;
$code-font-family: 'Source Code Pro', monospace;

/* layout base */
$base-font-size:   36px !default;
$base-font-weight: 800 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 5.5 !default;

$spacing-unit:     30px !default;


$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "base",
  "layout",
  "custom"
;
